.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100%;
    animation:enter 0.5s;
    transition: 0.5s;
}


@keyframes enter {
    from { opacity: 0; }
    to {opacity: 1;}
}

.tips{
    color: #989898;
    margin-top: 10px;
    line-height: 20px;
}
