.logo{
    height: 300px;
    width: 300px;
}

.startSetup{
    width: 353px;
    font-size: 16px;
    border: none;
    background-color: #3b7df0;
    color: white;
    height: 35px;
    border-radius: 999em;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.startSetup:hover{
    background-color: #2863d5;
}

#title{
    font-weight: bold;
}

.installText{
    background: linear-gradient(315deg, #00a0ff 25%, #94e0db);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
