.quest{
    font-size: 16px;
    margin-top: 15px;
}

.infoType{
    width: 500px;
    border:none;
    border-bottom: 1px black solid;
    outline: none;
    font-size: 16px;
}

.footerTips{
    color: #989898;
    margin-top: 10px;
}